@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('LouisGeorgeCafe-Bold.woff2') format('woff2'),
        url('LouisGeorgeCafe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

