* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Console', sans-serif;
}
// color of the background
.background {
    background-color: #12181B;
    height: 100vh;
    padding-top: 1px;
}
//beautify the page
.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
// hide any UI elements of the page 
.hide {
    display: none;
}
// create a grid system for TTC board
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}
//set border and size for the tile
.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
//will be used to color the X
.playerX {
    color: blue;
}

.playerO {
    color: red;
}
//add spacing
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#previous {
    display: block;
    visibility: hidden;
    color: violet;
}

#next {
    display: block;
    visibility: hidden;
    color: violet;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}

/* MODAL */
.modal-bg {
    position: fixed;
    float: left;
    left: 50%;
    right: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal {
    letter-spacing: 4px;
    background-color: #ffffff;
    border-radius: 0.8em;
    padding: 2em 0;
    color: var(--black);
    line-height: 60px;
}
#modal-header,
#modal-text {
    font-size: 7vmin;
    font-weight: 700;
}
#modal-header {
    color: var(--yellow);
}
.modal-btn {
    margin-top: 1.5em;
}
.modal-btn button {
    width: 16em;
    padding: 1em 0;
}
#historyBtn {
    background-color: var(--blue);
}
#resetBtn,
#newBtn {
    background-color: var(--rose);
    color: black;
}